/* CSS Styles for index.js*/

/* index.html styles below */
#canvas-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: lightblue;
}

#titleImageContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 50%;
}

/* examples.html styles below */
#examples-main-wrapper {
  position: absolute;
  width: calc(100% - 8px);
  height: 100vh;
  background-size: cover;
  background-color: lightblue;
}

.examples-body {
  padding-top: 50px;
}

#examples-main-header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  background-color: rgb(114, 172, 199);
  border-bottom: solid 1px #e5e5e5;
}

.examples-home-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 50px;
  background-size: 100px;
  background-image: url("./../js/hardcoded/icy.jpg");
}

/* api.html styles below */
#api-body {
    padding-top: 50px;
}

#api-main-wrapper {
  position: absolute;
  width: calc(100% - 8px);
  height: 100;
  background-size: cover;
  background-color: lightblue;
}

#api-main-header {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  background-color: rgb(114, 172, 199);
  border-bottom: solid 1px #e5e5e5;
}

.api-home-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 50px;
  background-size: 100px;
  background-image: url("./../js/hardcoded/icy.jpg");
}

.api-main {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
}
